.documents
    padding 20px
    width 500px
    margin 50px auto
    background #2f2c32

.header
    margin-bottom 10px

.logo
    margin 0
    color #FFF
    font-weight 300
    display inline-block

.create-document-link
    float right
    background #18c0a7
    padding 8px
    width 120px
    color #FFF
    text-align center

    &:hover
        color #FFF
        background #14b39b
        text-decoration none

.documents-list
    list-style-type none
    margin 0
    padding 0

.documents-list-item
    background #FFF
    margin 3px 0 3px 0
    padding 20px 25px
    cursor pointer

    .document-title
        text-decoration none
        font-size 18px
        font-weight 300
        color #22232d
        display inline-block

    .document-date
        display block
        font-size 12px
        font-weight 300
        color #aaa

    .document-destroy
        text-decoration none
        font-weight 500
        margin-top 10px
        color #e85b55
        float right
        display none

    &:hover
        .document-destroy
            display inline-block