.header
    color #7f7f7f

    .title
        display block
        text-align center

.right-pane
    padding 20px 20px 0 20px
    position absolute
    top 0
    right 0
    bottom 0
    width 55%

    h1
        display inline-block
        margin-top 0
        line-height 1

    .download-file-btn
        display inline-block
        float right

    .markdown
        padding 6px 0 0 0
        @extend .github

.left-pane
    padding 20px 20px 0 20px
    position absolute
    top 0
    left 0
    bottom 0
    width 45%
    background #040b1a
    box-shadow 0 0 3px rgba(0,0,0,0.1)
    border-right 1px solid #e3e6e9

    textarea
        padding 20px 20px 0 20px
        resize none
        outline none
        width 100%
        border none
        box-sizing border-box
        position absolute
        top 75px
        left 0
        bottom 0
